.header{
    background-color: #222d3f;
    z-index: 1;
}
.sider{
    height:100%;
    background-color: #002140;
}
.contentLayout{
    height:100%;
}

.content{
    height:100%;
    backgroundColor:'white'
}