
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page{
  height: 60%;
}
.text{
  color: rgb(88, 76, 76);
  font-size: 2em;
  text-align: center;
}
