.container{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message{
    margin-top:1em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details{
    margin:0.5em 0 0 0;
    font-size: 1.2em;
}

.details div{
    margin:0.6em 0 0 0;
}

span{
    margin:0 1em 0 1em;
}