.container{
    background-color: rgba(255, 255, 255, 0.92);
    padding:36px;
}

/*宽度大于1024px*/
@media screen and (min-width:1024px){
    .container{
        position:relative;
        top: 200px;
        left: 300px;
        width: 320px;
        height: 340px;
    }
}

/*宽度小于1024px*/
@media screen and (max-width:1024px){
    .container{
        width:80%;
    }
}

.logo {
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 24px;
    font-size: 2em;
}

.btn{
    width:100%;
    display: inline-block;
    margin: auto;
}